#mainContainer{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

#app{
  display: flex; 
  justify-content: center; 
}

.bottonZone {
  padding-left: 10px;
  padding-right: 10px; 
  margin-bottom: 10px; 
  display: flex; 
  
}

.output{
  margin-left: 10px; 
  color: blue; 
  font-size: 30px; 
  width: 60px; 
  border-style: solid; 
  border-color: black; 
  display: flex; 
  justify-content: center; 
}

.bars {
  width: 200px; 
  height: 18px;
  outline: none; 
}

.actuator{
  font-size: 20px; 
  font-weight: bold; 
}